<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
</head>
<body>
    <h1>Item List</h1>
    <ul>
        {% for item in items %}
            <li>
                <a href="{% url 'items:item_detail' item.pk %}">{{ item.word }}</a> - {{ item.category }}
                <a href="{% url 'items:delete_item' item.pk %}" onclick="return confirm('Are you sure you want to delete the item {{ item.word }}?')">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'items:create_item' %}">Create New Item</a>
</body>
</html>
