{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
</head>
<body>
    {% comment %} <script src="{% static 'items/user_item_update_notification.js' %}"></script> {% endcomment %}
    <script src="{% static 'items/bfcache_page_reload.js' %}"></script>
    <h1>Item List</h1>
    <ul id="item-list">
        {% for item in items %}
            <li data-id="{{ item.pk }}">
                {% if item.meaning %}
                    <a href="{% url 'items:item_detail' item.pk %}" class="word">{{ item.word }}</a>: 
                {% else %}
                    {{ item.word }}:
                {% endif %}
                {% if item.category %}
                    <span class="category">
                        <span class="category-value"> {{ item.category }}</span>
                    </span>
                {% endif %}
                {% if item.meaning %}
                    <span class="actions">
                        <a href="{% url 'items:delete_item' item.pk %}" class="delete-link" onclick="return confirm('Are you sure you want to delete the item {{ item.word }}?')"> Delete </a>
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'items:create_item' %}">Create New Item</a>
</body>
</html>
