<!DOCTYPE html>
<html>
<head>
    <title>Create Card</title>
</head>
<body>
    <h1>Create Card</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == 'info' %}
                    <li>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'cards:card_list' %}">Back to Card List</a>
</body>
</html>
